<div id="<%= dom_id profile %>">
  <p>
    <strong>Firstname:</strong>
    <%= profile.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= profile.lastname %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.country %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
