<div id="<%= dom_id walk %>">
  <p>
    <strong>Name:</strong>
    <%= walk.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= walk.desc %>
  </p>

  <p>
    <strong>Start lat:</strong>
    <%= walk.start_lat %>
  </p>

  <p>
    <strong>Start long:</strong>
    <%= walk.start_long %>
  </p>

  <p>
    <strong>End lat:</strong>
    <%= walk.end_lat %>
  </p>

  <p>
    <strong>End long:</strong>
    <%= walk.end_long %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= walk.duration %>
  </p>

  <p>
    <strong>Loop:</strong>
    <%= walk.loop %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= walk.difficulty %>
  </p>

</div>
