<!DOCTYPE html>
<html>
  <head>
    <title>WalkApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://kit.fontawesome.com/096239daca.js" crossorigin="anonymous"></script>
  </head>

  <body >
	<!-- call the partial with nav -->
	<%= render 'layouts/nav' %>
	<!-- devise required alerts -->
	<div class="w3-row w3-center">
		 <p class="notice"><%= notice %></p>
		 <p class="alert"><%= alert %></p>
	</div>
	<% if user_signed_in? %>
		<p><%= current_user.id %></p>
	 <% end %>
	 <div class="w3-col m1 w3-container">
		<!-- need w3-container to get the empty col to display -->
	</div>
	<div class="w3-col m7 ">
		<%= yield %>
	</div>
	
	
  </body>
</html>
